on: [push]
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - run: dotnet build -c Release -o artifacts/wgconf
      - uses: actions/upload-artifact@v4
        with:
          path: artifacts/wgconf
          name: wgconf-build
  test:
    needs: build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
