on: [push, pull_request]

jobs:
  validate-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: dotnet tool restore
      - run: dotnet csharpier check .
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: dotnet restore
      - run: dotnet build --configuration Release --no-restore WgConf.slnx
      - uses: actions/upload-artifact@v6
        with:
          path: src/WgConf/bin/Release/net8.0
          name: wgconf
      - uses: actions/upload-artifact@v6
        with:
          path: src/WgConf.Amnezia/bin/Release/net8.0
          name: wgconf-amnezia
      - uses: actions/upload-artifact@v6
        with:
          path: test/WgConf.Tests/bin/Release/net8.0
          name: wgconf-tests
      - uses: actions/upload-artifact@v6
        with:
          path: test/WgConf.Amnezia.Tests/bin/Release/net8.0
          name: wgconf-amnezia-tests
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v6
      # - uses: actions/download-artifact@v7
      #   with:
      #     name: wgconf
      #     path: src/WgConf/bin/Release/net8.0
      # - uses: actions/download-artifact@v7
      #   with:
      #     name: wgconf-amnezia
      #     path: src/WgConf.Amnezia/bin/Release/net8.0
      - uses: actions/download-artifact@v7
        with:
          name: wgconf-tests
          path: test/WgConf.Tests/bin/Release/net8.0
      - uses: actions/download-artifact@v7
        with:
          name: wgconf-amnezia-tests
          path: test/WgConf.Amnezia.Tests/bin/Release/net8.0
      - run: dotnet test --configuration Release --no-build test/WgConf.Tests/WgConf.Tests.csproj
      - run: >-
          dotnet test --configuration Release --no-build
          test/WgConf.Amnezia.Tests/WgConf.Amnezia.Tests.csproj
